<!DOCTYPE html>
<html>

<head>
    <title>Headers</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        .table {
            table-layout:fixed;
        }

        .table td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>

</head>

<body>
    <div class="container">
        <table class="table table-hover table-bordered">
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            {{ range . }}
            <tr {{if .CC}}class="success" {{end}}>
                <td>{{ .Key }}</td>
                <td>{{ .Value }}</td>
            </tr>
            {{ end }}
        </table>
    </div>
</body>

</html>
